@import "../utils/colors.scss";

.about-container {
  background-color: #efe8ff;
  .container {
    margin: 0 10%;
    padding: 5rem 0;
    display: flex;

    .details {
      display: flex;
      flex-direction: column;
      p {
        color: #1b1a1b;
        line-height: 1.3rem;
        font-size: large;
        text-align: left;
        width: 80%;
        font-weight: 500;
      }
    }
    .picture-container {
      height: 35vh;
      width: 70%;
      background-image: url("../../assets/cat.jpg");
      background-size: cover;
      border-radius: 1rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-container {
    .container {
      flex-direction: column;
      .details {
        width: 100%;
        p {
          text-align: left;
          font-size: 2rem;
          line-height: 2.5rem;
          width: 100%;
        }
      }
      .picture-container {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-container {
    .container {
      .details {
        p {
          font-size: 1.8rem;
          line-height: 1.7rem;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container {
    .container {
      gap: 1rem;
      .cards {
        gap: 1rem;
      }
    }
  }
}
