@import "../utils/Colors.scss";

.why-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  h1 {
    color: $headingColor;
    font-size: 3rem;
    font-weight: 400;
  }
  a.chevron {
    position: absolute;
    margin-top: 20rem;
    animation: arrowBlink 2s infinite;
  }
  @keyframes arrowBlink {
    50% {
      opacity: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .why-container {
    h1 {
      font-size: 5rem;
    }
  }
}
